<%- include ('../partials/head.ejs') %>

<body>
    <%- include ('../partials/header.ejs') %>

    <!-- loaded data shown on page-->
    <div class="extraInformatieTitel">
        <h3><%= Xinfo.vraagEen %></h3>
    </div>

    <div class="extraInformatie">
        <p><%= Xinfo.vraagTwee %></p>

        <div class="extraInformatie">
            <h3><%= Xinfo.vraagDrie %></h3>
        </div>

        <!-- <a class="verwijderen" data-doc=" <%= Xinfo._id %>">verwijder interesse</a> -->
    </div>
</body>