<%- include ('../partials/head.ejs') %>

<body>
    
    <%- include ('../partials/header.ejs') %>
    <h1>Al jouw interesses</h1>
    <div class="interestsPerson">
        <div>
            <!-- loop trough the schema object -->
            <% if (interestView.length > 0) { %>
            <% interestView.forEach(view => { %>
             
        <a class='eenInterest' href="<%= view.id%>">
            <h3 class='bueno'> <%= view.vraagEen%></h3>
            <p class='snippet'> <%= view.vraagTwee %></p>
        </a>

            <% }) %>
            <% } else {%>
            <p>nog geen interesses toegevoegd</p>
            <% }%>
        </div>
    </div>
</body>